.app-code-block {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--bs-secondary);
  position: relative;

  > .app-tag {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0.3;
    transition: opacity 0.5s ease;

    &:hover {
      opacity: 1;
    }
  }
}
