.app-text-editor {
  > .editor {
    background-color: var(--bs-white);
    .ql-editor {
      min-height: 45rem;
    }

    > .quill {
      .ql-toolbar.ql-snow {
        border-top-left-radius: var(--common-border-radius);
        border-top-right-radius: var(--common-border-radius);
      }
      .ql-container.ql-snow {
        border-bottom-left-radius: var(--common-border-radius);
        border-bottom-right-radius: var(--common-border-radius);
      }
    }
  }
}
