.app-primary-card,
.app-with-cover-card {
  position: relative;
  padding: 2.4rem;
  border-radius: var(--app-card-border-radius);
  cursor: pointer;

  > .ant-typography {
    display: block;
    // font-size: --bs-body-font-size;
    // font-weight: --bs-body-font-weight;
    // line-height: --bs-body-line-height;
  }

  > .title {
    margin-bottom: 0.875rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  > .anticon.anticon-close-circle {
    color: var(--bs-black);
    position: absolute;
    font-size: 2rem;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
}

.app-with-cover-card {
  padding: 0;
  display: flex;
  flex-direction: column;

  > .content {
    padding: 2.4rem;
  }

  > .content > .title {
    margin-bottom: 0.875rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .ant-image > .ant-image-img {
    width: 100%;
    height: auto;
  }
}
