.app-table {
  > .title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-transform: uppercase;

    > .app-back-page {
      margin-right: 1rem;
    }
  }

  th {
    text-transform: uppercase;
    color: var(--bs-white) !important;
    background-color: var(--color-primary-blue) !important;
  }

  tbody > tr:last-child > td:first-child {
    border-end-start-radius: var(--common-border-radius);
  }

  tbody > tr:last-child > td:last-child {
    border-end-end-radius: var(--common-border-radius);
  }
}
