.app-text-editor {
}

.editor-content-style {
  background-color: var(--bs-white);
  border-radius: var(--common-border-radius);
  min-height: 45rem;
  padding: 1rem;
}

.editor-wrapper-style {
//   border-radius: var(--common-border-radius);
}

.editor-toolbar-style {
  border-radius: var(--common-border-radius);
  padding: 2rem;
}
