.form-login {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  backdrop-filter: blur(12px);
  background-color: hsla(0, 0%, 100%, 0.4);
  padding: 4rem;
  border-radius: var(--common-border-radius-15);

  >.app-form {
    background: none;
    padding: 0;
  }
}
