.form-add-question {
  display: flex;
  position: relative;

  > .switch {
    outline: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  > .app-form {
    flex-grow: 1;
    margin-right: 1rem;
  }

  > .app-form > .form > .app-code-block {
    margin: 1rem 0;
  }

  > .app-form > .form > .form-item > .textarea {
    min-height: 10rem;
  }

  > .app-code-editor {
    flex-basis: 50%;
  }
}
