.skill-test-sumary {
  width: 30rem;
  height: fit-content;
  position: sticky;
  top: 8rem;

  > .sumary {
    border-radius: var(--common-border-radius);
    background-color: var(--bs-white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
    padding: 2rem;
  }

  > .sumary > .number {
    display: inline-block;
    background-color: var(--bs-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    border-radius: var(--common-border-radius);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }

  > .sumary > .number:active {
    transform: translateY(0.3rem);
    background-color: var(--bs-black);
  }
}
