.create-test-page {
  > .app-form {
    margin-bottom: 2rem;
  }

  > .app-form > .form > .app-button {
    flex-grow: 0;
    background-color: var(--color-primary-blue);
    color: var(--bs-white);
  }

  > .manual > .info,
  > .random > .info {
    border-radius: var(--common-border-radius);
    background-color: var(--bs-white);
    padding: 2rem;
  }

  > .random > .info {
    margin-top: 2rem;
  }

  > .manual > .info > .list-question-info,
  > .random > .info > .list-question-info {
    margin-bottom: 1rem;
  }
}

.create-test-page > .app-form > .form > .form-item {
  &:first-child {
    flex: 0 0 80%;
  }

  &:nth-child(2) {
    width: 10%;
  }

  > .inputnumber {
    width: 100%;
  }
}

.show-test {
  @include infoModal;
}

.list-question-info > .list {
  max-height: 55rem;
  overflow: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > .app-primary-card {
    padding: 1rem;
    border-color: var(--color-primary-blue);
  }

  > .app-primary-card > .content > .question {
    @include textEllipsis;
    margin-top: 1rem;
  }

  > .app-primary-card > .content > .app-button {
    margin-top: 1rem;
    width: fit-content;
  }
}

.test-info-drawer {
  .info > .app-button {
    margin-top: 1rem;
  }
}
