.delivery-management {
  display: flex;

  > .delivery-list {
    width: 100%;
  }
}

.add-new-delivery {
  > .app-form {
    padding: 0;
  }
}

.delivery-list {
  > .list {
    @include cardList(3, 1.6rem);
  }

  > .title {
    @include titleWithAction;
  }
}

.delivery-card {
  @include cardItemContent;
}
