.education-program-management {
  > .title {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin-bottom: 2rem;
  }

  > .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }

  > .list > .app-primary-card {
    @include cardItemContent;
  }

  > .list > .app-primary-card > .content > .description > .time {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.program-detail-modal {
  > .ant-modal {
    width: 80vw !important;
  }
  > .ant-modal > .ant-modal-content > .ant-modal-close {
    top: 0.5rem;
    right: 0.5rem;
  }

  > .ant-modal > .ant-modal-content > .ant-modal-body {
    display: flex;
    flex-direction: column;
  }

  > .ant-modal > .ant-modal-content > .ant-modal-body > .title {
    font-size: 2.4rem;
    background-color: var(--color-secondary-blue);
    padding: 1rem 2rem;
    border-radius: var(--common-border-radius);
  }

  > .ant-modal
    > .ant-modal-content
    > .ant-modal-body
    > .ant-tabs
    > .ant-tabs-content-holder {
    height: 55vh;
    overflow: auto;
  }

  > .ant-modal > .ant-modal-content > .ant-modal-body .materials {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.form-education {
  width: 80%;
  margin: auto;

  > .app-form > .form > .part {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  > .app-form > .form > .part > * {
    flex-grow: 1;
  }

  > .app-form > .form > .part > .form-item:nth-child(2) {
    max-width: 18%;
  }

  > .app-form > .form > .part > .form-item:nth-child(2) > .inputnumber {
    width: 100%;
  }
}
