.home-check-in-out {
  background-color: var(--bs-white);
  padding: 4rem;
  border-radius: var(--common-border-radius);

  > .cards {
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
  }

  > .cards > .app-primary-card {
    flex: 0 0 45%;
  }

  > .cards > .app-primary-card > .title {
    text-transform: uppercase;
  }

  > .cards > .app-primary-card > .title,
  > .cards > .app-primary-card > .content > .time {
    text-align: center;
    display: block;
  }

  > .cards > .app-primary-card > .content > .time {
    font-size: 4rem;
    font-weight: 700;

    &.-notime {
      font-size: 1.8rem;
    }
  }

  > .function {
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
  }

  > .user > .app-title {
    text-align: left;
  }
}

.home-check-in-out-list {
  margin-top: 4rem;
}
