.internal-test-result {
  position: relative;

  > .instruction {
    @include appSection;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  > .instruction > .item {
    padding: 0.5rem 1rem;
    border-radius: var(--common-border-radius);
    color: var(--bs-white);
    font-size: 1.2rem;
  }

  > .instruction > .item:first-child {
    background-color: var(--color-primary-green);
  }

  > .instruction > .item:nth-child(2) {
    background-color: var(--color-primary-red);
  }

  > .instruction > .item:nth-child(3) {
    background-color: var(--color-primary-blue);
  }

  > .summary {
    @include appSection;
    display: flex;
    flex-direction: column;
  }

  > .summary > .contestant {
    display: flex;
    flex-direction: column;
    border-bottom: 0.1rem dashed var(--color-primary-blue);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  > .summary > .contestant > .name {
    font-size: 3.2rem;
  }

  > .summary > .title {
    font-size: 2.4rem;
    margin-bottom: .5rem;
  }

  > .summary > .tags {
    display: flex;
    gap: 1rem;
  }

  > .summary > .note {
    margin-top: 2rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: var(--common-border-radius);
    background-color: var(--color-secondary-red);
    color: var(--color-primary-red);
  }

  > .detail {
    margin-top: 2rem;
  }

  > .print {
    position: absolute;
    top: 4rem;
    right: 4rem;
  }

  > .print > .app-tooltip > .icon > .svg-icon {
    width: 2.8rem;
    height: 2.8rem;
  }
}

.test-result-question-item {
  margin-bottom: 2rem;
  @include appSection;

  > .index {
    font-size: 2rem;
    font-weight: 700;
    display: block;
    margin-bottom: 1rem;
  }

  > .content {
    white-space: pre-wrap;
    margin-bottom: 2rem;
    display: block;
  }

  > .codeblocks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  > .answers {
    margin-top: 2rem;
    border: 0.2rem dotted var(--color-primary-blue);
    border-radius: var(--common-border-radius);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  > .answers > .item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  > .answers > .item > .text {
    padding: 0.5rem 1rem;
    border-radius: var(--common-border-radius);
    flex-grow: 1;
  }

  > .answers > .item > .right {
    background-color: var(--color-primary-green);
    color: var(--bs-white);
  }

  > .answers > .item > .wrong {
    background-color: var(--color-primary-red);
    color: var(--bs-white);
  }

  > .answers > .item > .miss {
    background-color: var(--color-primary-blue);
    color: var(--bs-white);
  }

  > .answers > .item > .index {
    background-color: var(--color-primary-gray);
    border-radius: 10rem;
    padding: 0.5rem;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-white);
    font-weight: 700;
    user-select: none;
  }

  > .right {
    margin-top: 2rem;
  }

  > .right > .text {
    font-size: 2rem;
    font-weight: 700;
  }

  > .right > .answers {
    margin-top: 1rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  > .essay {
    white-space: pre-wrap;
    padding: 2rem;
    background-color: var(--color-dracula);
    border-radius: var(--common-border-radius);
    color: var(--color-secondary-gray);
  }
}
