.list-test-topic {
  > .list {
    display: flex;
    flex-wrap: wrap;

    > .app-primary-card {
      width: calc((100% - 6.4rem) / 4);
      margin: 0.8rem;
    }
  }

  > .title {
    display: flex;
    align-items: center;

    > .app-button {
      margin-left: 1rem;
    }
  }
}
