.login-page {
  height: 100vh;
  background: linear-gradient(to right, #005aa7, #fffde4);

  > .form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  > .form-login > .app-form {
    width: 40rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
