.test-question-management {
  > .app-title {
    @include titleWithAction;
  }

  > .question-search {
    margin-bottom: 2rem;
  }
}

.form-add-question {
  display: flex;
  position: relative;

  > .switch {
    outline: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  > .app-form {
    flex: 0 0 50%;
    margin: auto;
  }

  > .app-form > .form > .part {
    display: flex;
  }

  > .app-form > .form > .part > .form-item {
    flex: 0 0 49%;
  }

  > .app-form > .form > .part > .form-item:first-child {
    margin-right: auto;
  }

  > .app-form > .form > .app-code-block {
    margin: 1rem 0;
  }

  > .app-form > .form > .form-item > .textarea {
    min-height: 10rem;
  }

  > .app-form > .form > .types {
    display: flex;
    justify-content: space-between;
  }

  > .app-form > .form > .buttons {
    display: flex;
    gap: 1rem;
  }

  > .app-form > .form > .buttons > .app-button {
    height: 4rem;
    text-transform: uppercase;
  }

  > .app-code-editor {
    flex-grow: 1;
    margin-left: 1rem;
  }
}

.form-add-choice {
  border: 1px dashed var(--color-primary-blue);
  padding: 2rem 2rem 1rem;
  border-radius: var(--common-border-radius);

  > .app-button {
    margin: auto;
    margin-top: 1rem;
    display: block;
  }
}
