.test-question-management {
  > .app-title {
    @include titleWithAction;
  }
}

.form-add-question {
  display: flex;
  position: relative;

  > .app-form {
    flex: 0 0 50%;
    margin: auto;
  }

  > .app-form > .form-field-error-message {
    margin-top: 1rem;
    display: inline-block;
  }

  > .app-code-editor {
    flex-grow: 1;
    margin-left: 1rem;
    height: fit-content;
  }
}

.form-add-question > .app-form > .form {
  > .form-item.switch > .ant-switch {
    width: fit-content;
  }

  > .part {
    display: flex;
  }

  > .part > .form-item {
    flex: 0 0 49%;
  }

  > .part > .form-item:first-child {
    margin-right: auto;
  }

  > .app-code-block {
    margin: 1rem 0;
  }

  > .form-item > .textarea {
    min-height: 10rem;
  }

  > .types {
    display: flex;
    justify-content: space-between;
  }

  > .buttons {
    display: flex;
    gap: 1rem;
  }

  > .buttons > .app-button {
    height: 4rem;
    text-transform: uppercase;
  }
}

.form-add-choice {
  border: 1px dashed var(--color-primary-blue);
  padding: 2rem 2rem 1rem;
  border-radius: var(--common-border-radius);

  > .app-button {
    margin: auto;
    margin-top: 1rem;
    display: block;
  }
}

.modal-question-detail {
  .ant-modal {
    min-width: 50vw;
    max-width: 70vw;
  }
  .ant-modal-body {
    overflow-y: scroll;
    max-height: 50rem;
  }
}

.question-search > .app-form > .form > .form-item {
  &:first-child {
    width: 40%;
  }

  &:not(:first-child) {
    width: 18%;
  }
}
