.test-list {
  > .app-title {
    @include titleWithAction;
  }

  > .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }

  > .list > .app-primary-card {
    @include cardItemContent;
  }

  > .list > .app-primary-card > .title {
    margin-bottom: 1rem;
  }
}

.assign-test-modal {
  .ant-modal-body > .ant-select {
    width: 100%;
  }
}
