.common-layout {
  display: flex;
  min-height: 100vh;

  > .ant-layout {
    margin-top: 6.8rem;
  }

  > .ant-layout > .ant-layout > .main {
    padding: 2rem;
  }

  .common-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.8rem;
    z-index: 99;
    display: flex;
    justify-content: space-between;
  }
}

.common-header {
  display: flex;
  align-items: center;
  background-color: var(--color-secondary-blue) !important;

  > .logo {
    height: 100%;
  }

  > .logo > .image {
    height: 100%;
  }

  > .menu {
    flex-grow: 1;
  }

  > .personal {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  > .personal > .name {
    text-transform: uppercase;
    font-weight: 700;
  }
  > .personal > .ant-dropdown-trigger > .svg-icon {
    width: 4.8rem;
    height: 4.8rem;
    cursor: pointer;
  }
}

.common-sider {
  background-color: var(--bs-white) !important;
  // position: fixed !important;
  // min-height: calc(100vh - 6.3rem);

  > .ant-layout-sider-children {
    overflow-y: scroll;
  }
}
