:root {
  font-size: 62.5%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  height: 100%;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* color */
  --bs-blue: #007bff;
  --bs-indigo: #6610f2;
  --bs-purple: #696cff;
  --bs-pink: #e83e8c;
  --bs-red: #ff3e1d;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffab00;
  --bs-green: #71dd37;
  --bs-teal: #20c997;
  --bs-cyan: #03c3ec;
  --bs-white: #fff;
  --bs-black: #000;
  --bs-gray: rgba(67, 89, 113, 0.6);
  --bs-gray-dark: rgba(67, 89, 113, 0.8);
  --bs-gray-25: rgba(67, 89, 113, 0.025);
  --bs-gray-50: rgba(67, 89, 113, 0.05);
  --bs-primary: #696cff;
  --bs-secondary: #8592a3;
  --bs-success: #71dd37;
  --bs-info: #03c3ec;
  --bs-warning: #ffab00;
  --bs-danger: #ff3e1d;
  --bs-light: #fcfdfd;
  --bs-dark: #233446;
  --bs-gray: rgba(67, 89, 113, 0.1);
  --bs-primary-rgb: rgb(105, 108, 255);
  --bs-secondary-rgb: rgb(133, 146, 163);
  --bs-success-rgb: rgb(113, 221, 55);
  --bs-info-rgb: rgb(3, 195, 236);
  --bs-warning-rgb: rgb(255, 171, 0);
  --bs-danger-rgb: rgb(255, 62, 29);
  --bs-light-rgb: rgb(252, 253, 253);
  --bs-dark-rgb: rgb(35, 52, 70);
  --bs-gray-rgb: rgb(67, 89, 113);
  --bs-white-rgb: rgb(255, 255, 255);
  --bs-black-rgb: rgb(67, 89, 113);
  --bs-body-color-rgb: rgb(105, 122, 141);
  --bs-body-bg-rgb: rgb(245, 245, 249);
  --bs-font-sans-serif: "Public Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-color: #697a8d;
  --bs-body-bg: #f5f5f9;

  /*  app card */

  --app-card-border-radius: 0.5rem;
  --app-card-background-color: var(--bs-white);

  /*  */
  --bs-body-font-size: 0.9375rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.53;

  /* box-shadow */
  --common-box-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
  --common-border-radius: 0.5rem;
  --common-border-radius-10: 1rem;
  --common-border-radius-15: 1.5rem;

  --color-primary-red: #c70c00;
  --color-secondary-red: #f7dbda;
  --color-primary-blue: #1e5ac7;
  --color-secondary-blue: #d9e1f7;
  --color-primary-gray: #8c8f8c;
  --color-secondary-gray: #e6e6e6;
  --color-primary-green: #00a029;
  --color-secondary-green: #f0faf0;
}

body {
  color: #000;
  margin-bottom: 1rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ol, ul {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
